apiVersion: v1
data:
  default.sls: |
    http: curl
    git-personal-access-token: ***
    mqtt-password: ***
    user: root
    group: root
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: salt
  name: pillar-default
